* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: .5rem;
    overflow: hidden;
    background: linear-gradient(#39656b, #44919b, #47a4b1);
}

.title-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 95vh;
    margin: 2% 2% 0 3%;
}

.title-page h1 {
    font-size: 5vw;
    font-weight: 900;
    letter-spacing: 10px;
    color: #89d6f057;
}

.message-completed-dex {
    font-size: 3vw;
    font-weight: 200;
    letter-spacing: 2px;
    color: #cdf2fff5;
}

.developed-by {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 200;
    width: 100%;
    margin-top: 2%;
    color: #cdf2fff5;
}

.developed-by a {
    text-decoration: none;
    margin-left: 1%;
    color: #fff;
}

.developed-by a:hover {
    font-weight: 400;
    text-decoration: underline;
    color: rgb(132, 250, 250);
}
  
.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 390px;
    border-radius: 40px;
    background: linear-gradient(150deg, #e66465, #ad132d);
    box-shadow: 30px 30px 100px rgb(3, 54, 88);
}

.pokemons::-webkit-scrollbar {
    display: none;
    width: 8px;
}

.pokemons::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1084aa;
    background-color: #04394b65;
    border-radius: 10px;
}
  
.pokemons::-webkit-scrollbar-thumb {
    background: #1495c0;
    border-radius: 10px;
}