.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #55a82e;
}

.fire {
    background-color: #d3691d;
}

.water {
    background-color: #5b80d6;
}

.electric {
    background-color: #dab525;
}

.ice {
    background-color: #88c7c9;
}

.ground {
    background-color: #b1964e;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #95a124;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #9a98b3;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #c46d8a;
}
